.container {

  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: -30px;

}
.btn {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin:15px;
  border: 1px solid #C4C4C4;
  margin-bottom: 30px;
  color: #C4C4C4;

  background: url("../../images/cross.svg") no-repeat center center / contain;

}
.btn:hover {
  background: url("../../images/cross-blue.svg") no-repeat center center / contain;
}










